<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="text-center text-primary">LOGIN FORM</h2>
            <form #ref="ngForm" (ngSubmit)='method(ref.value)'>
                <div class="form-group">
                    <label>Email</label>*
                    <input type="email" name="email" class="form-control" ngModel #ref1="ngModel" required>
                    <label *ngIf="ref1.invalid && ref1.touched">
                        <div class="text-danger">*this field is mandatory</div>
                    </label>
                </div>
                <div class="form-group">
                    <label>Password</label>*
                    <input type="password" name="password" class="form-control" ngModel #ref2="ngModel" minlength="5">
                    <label *ngIf="ref2.invalid " class="text-danger">*this field contain atleast 5 characters</label>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success" type="submit">LOGIN</button>
                </div>
            </form>
            <div class="form-group text-center">
                New User?<a routerLink="/register"><u>Click here to Register</u></a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3"></div>

