<table>
    <div class="table">
        <thead>
            <th>FIRST NAME</th>
            <th>MIDDLE NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL</th>
            <th>MOBILE</th>
        </thead>
        <tr *ngFor='let user of users'>
            <td>{{user.name}}</td>
            <td>{{user.mname}}</td>
            <td>{{user.lname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.number}}</td>
            <td><button class="btn btn-success" (click)='edit(user)'>edit</button></td>
            <td><button class="btn btn-danger" (click)='delete(user.email)'>delete</button></td>
        </tr>
    </div>
</table>
<div *ngIf="b">
<form #ref="ngForm" (ngSubmit)='change(ref.value)'>
    <div>
        <label>FIRST NAME</label>
        <input type="text" name="name" class="form-control" [value]='objectmodify.name'
            [(ngModel)]='objectmodify.name'>
    </div>
    <div>
        <label>MIDDLE NAME</label>
        <input type="text" name="mname" class="form-control" [value]='objectmodify.mname'
            [(ngModel)]='objectmodify.mname'>
    </div>
    <div>
        <label>LAST NAME</label>
        <input type="text" name="lname" class="form-control" [value]='objectmodify.lname'
            [(ngModel)]='objectmodify.lname'>
    </div>
    <div>
        <label>EMAIl</label>
        <input type="email" name="email" class="form-control" [value]='objectmodify.email'
        [(ngModel)]='objectmodify.email'>
    </div>
    <div>
        <label>MOBILE</label>
        <input type="number" name="number" class="form-control" [value]='objectmodify.number'
        [(ngModel)]='objectmodify.number'>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-success mt-4">save</button>
    </div>
</form>
</div>
