<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="text-center text-warning"><U>REGISTRATION FORM</U></h2>
            <form #ref="ngForm" (ngSubmit)='Change(ref.value)'>
                <div class="form-group">
                    <label>FIRST NAME</label>*
                    <input type="text" name="name" class="form-control" ngModel #ref1="ngModel" required>
                    <label *ngIf="ref1.invalid && ref1.touched">
                        <div class="text-danger">*this field is mandatory</div>
                    </label>
                </div>
                <div class="form-group">
                    <label>MIDDLE NAME</label>*
                    <input type="text" name="mname" class="form-control" ngModel #ref2="ngModel" required>
                    <label *ngIf="ref2.invalid && ref2.touched">
                        <div class="text-danger">*this field is mandatory</div>
                    </label>
                </div>
                <div class="form-group">
                    <label>LAST NAME</label>*
                    <input type="text" name="lname" class="form-control" ngModel #ref3="ngModel" required>
                    <label *ngIf="ref3.invalid && ref3.touched">
                        <div class="text-danger">*this field is mandatory</div>
                    </label>
                </div>
                <div class="form-group">
                    <label>EMAIL ID</label>
                    <input type="text" name="email" class="form-control" ngModel>
                </div>
                <div class="form-group">
                    <label>MOBILE</label>
                    <input type="number" name="number" class="form-control" ngModel>
                </div>
                <div class="form-group">
                    <label>PASSWORD</label>*
                    <input type="password" name="password" class="form-control" ngModel #ref4="ngModel" minlength="5">
                    <label *ngIf="ref4.invalid" class="text-danger">*this field contain atleast 5 characters</label>
                </div>
                <div class="form-group">
                    <label>CONFORM PASSWORD</label>*
                    <input type="password" name="cpassword" class="form-control" ngModel #ref5="ngModel" minlength="5">
                    <label *ngIf="ref5.invalid" class="text-danger">*this field contain atleast 5 characters</label>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success" type="submit">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-md-3"></div>


